@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

/* Navigation */
.topnav-header {
    font-family: 'Comfortaa', cursive;
    padding-left: 10px;
    padding-right: 10px;
}


.sidenav-header {
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: lightblue;
}


