{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="s12 col">
        <h3 class=" s5 center-align light-blue-text text-darken-4"> Search By Country </h3>
    </div>

</div>
<form class="row" method="POST" action="{{ url_for('all_blogs' )}}">
    <div class=" col s12 l6 offset-l3 search center-align">
        <input type="text" name="search" class="searchTerm center-align" placeholder="Type a country name here">
        <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
        </button>
    </div>
</form>
<div class="row">
    <div class="col s12 offset-m2 m8">
        <div class="card light-blue lighten-5">
            <div class="card-content center-align">
                {% if blogs.count() %}
                <ul class="collapsible">
                    {% for blog in blogs %}
                    <li class="list-padding">
                        <div class="collapsible-header ">
                       




                            {% if session.username == blog.username %}
                            <div class="col s12 hide-on-small-only">
                                <a href="{{ url_for('edit_blog', blog_id=blog._id) }}"
                                    class="btn-margin btn-small light-blue lighten-1">Edit</a><br>
                                <a href="{{ url_for('delete_blog', blog_id=blog._id) }}"
                                    class="btn-margin btn-small red accent-4">Delete</a>
                            </div>
                            <div class="col hide-on-med-and-up editandeletesmall">
                                <a href="{{ url_for('edit_blog', blog_id=blog._id) }}"
                                    class="btn-margin btn-small light-blue lighten-1">Edit</a>
                                <a href="{{ url_for('delete_blog', blog_id=blog._id) }}"
                                    class="btn-margin btn-small red accent-4">Delete</a>
                            </div>
                            {% endif %}
                                 <div class="col hide-on-small-only s12 blogname">
                                <strong>{{ blog.blog_name }}</strong> <br> {{ blog.blog_date }}
                            </div>
                            <div class="col hide-on-med-and-up s12 blognamesmall">
                                <strong>{{ blog.blog_name }}</strong> <br> {{ blog.blog_date }}
                            </div> 
                        </div>
                        <div class="collapsible-body">
                            <h6> Country: {{ blog.country_name }}</h6><br>
                            <p>{{ blog.blog_description }}</p><br><br>
                            {% if blog.blog_image %}
                            <img src="{{ url_for('file', filename=blog.blog_image)}}" alt="blog image"
                                class="blog-images"><br><br>
                            {% else %}

                            {% endif %}
                            <p><em>By: {{ blog.username }}</em></p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <h3 class="red-text text-darken-4">Sorry! No blogs have been created yet.</h3>
                <br>
                <div class="row center-align">
                    <a href="{{ url_for('new_blog') }}" class="btn-large blue">New Blog</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}