{% extends "base.html" %}
{% block content %}

<h3 class="center-align light-blue-text text-darken-4">Edit Blog</h3>
<div class="row">
    <form class="col s12 offset-m2 m8" method="POST" action="{{ url_for('edit_blog', blog_id=blog._id) }}">
        <div class="card light-blue lighten-5">
            <div class="card-content white-text">
                <div class="row">
                     <!-- Country -->
                    <div class="input-field col s12">
                        <select name="blog_country" class="validate" required>
                            <option value="" disabled>Choose a Country</option>
                            {% for country in countries %}
                            {% if country.country_name == blog.country_name %}
                            <option value="{{ country.country_name }}" selected>{{ country.country_name }}</option>
                            {% else %}
                            <option value="{{ country.country_name }}">{{ country.country_name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <label for="country_name">Country</label>
                     </div>   
                     
                    <!-- Blog Name -->
                    <div class="input-field col s12">
                        <input id="blog_name" type="text" value="{{blog.blog_name}}" name="blog_name" minlength="2"
                            maxlength="100" class="validate" required>
                        <label for="blog_name">Blog Name</label>
                    </div>
                    <!-- Description -->
                    <div class="input-field col s12">
                        <textarea id="blog_entry" type="text" rows="7" name="blog_description" class="materialize-textarea validate"
                        required>{{ blog.blog_description }}</textarea>
                        <label for="blog_entry">Blog Entry</label>
                    </div>
                  <!-- Image Upload -->
                    <div class="col s12 image-field-size file-field input-field">
                        <div class="btn">
                            <span>Image Upload</span>
                            <input name="blog_image" type="file" multiple>
                        </div>
                    </div>
                    <!-- Date Picker -->
                    <div class="input-field col s12">
                        <input name="blog_date" value="{{blog.blog_date}}" id="blog_date" type="text" class="datepicker validate" required>
                        <label for="blog_date">Date</label>
                    </div>
                    <!--Submit and Cancel -->
                    <div class="row center-align">
                        <a href="{{ url_for('profile', username=session['username']) }}" class="btn-large red">Cancel</a>
                        <button type="submit" class="btn-large light-blue">Submit</button>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>


{% endblock %}