{% extends "base.html" %}
{% block content %}

<h3 class="center-align light-blue-text text-darken-4">Log In</h3>
<div class="row">
    <form class="col s12 offset-m2 m8" method="POST" action="{{ url_for('login')}}">
        <div class="card light-blue lighten-5">
            <div class="card-content white-text">
                <div class="row">
                    <!-- Username -->
                    <div class="input-field col s12">
                        <input id="username" type="text" name="username" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="username">Username</label>
                    </div>
                    <!-- Password -->
                    <div class="input-field col s12">
                        <input id="password" type="password" name="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                    <div class="row registerbutton center-align">
                        <button type="submit" class="btn-large light-blue">Log In</button>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>

<div class="row">
    <div class="col s12">
        <p class="center-align light-blue-text text-darken-4">
            To Register Click
            <a href="{{ url_for('register')}}" class="red-text">Here</a>
        </p>
    </div>
</div>

{% endblock %}