{% extends "base.html" %}
{% block content %}

<h3 class="center-align light-blue-text text-darken-4">Register</h3>
<div class="row">
    <form class="col s12 offset-m2 m8" method="POST" action="{{ url_for('register')}}">
        <div class="card light-blue lighten-5">
            <div class="card-content white-text">
                <div class="row">
                    <!-- First Name -->
                    <div class="input-field col s12">
                        <input id="first_name" type="text" name="first_name" minlength="2" maxlength="25" class="validate" required>
                        <label for="first_name">First Name</label>
                    </div>
                    <!-- Last Name -->
                    <div class="input-field col s12">
                        <input id="last_name" type="text" name="last_name" minlength="2" maxlength="25" class="validate" required>
                        <label for="last_name">Last Name</label>
                    </div>
                    <!-- Username -->
                    <div class="input-field col s12">
                        <input id="username" type="text" name="username" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="username">Username</label>
                    </div>
                    <!-- Password -->
                    <div class="input-field col s12">
                        <input id="password" type="password" name="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                    <div class="row registerbutton center-align">
                        <button type="submit" class="btn-large light-blue">Submit</button>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>

{% endblock %}